.App {
  text-align: start;
}

.addContacts {
  max-width: 300px;
  border: 2px solid;
  border-color: grey;
}

.addContacts>span {
  display: flex;
  margin: 5px;
}

.addContacts>input {
  border-color: aqua;
  display: flex;
  flex-direction: column;
  margin: 5px;
}
.addContacts>button {
  margin: 10px 5px;
}